<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="modal fade" id="modalExcluir" tabindex="-1" data-backdrop="static">
		<div class="modal-dialog">
			<form th:attr="data-url-base='/cobranca/titulos/titulos'" method="POST">
				<input type="hidden" name="_method" value="DELETE"/>
				
				<div class="modal-content">

					<div class="modal-header">
						<h3 class="modal-title">Confirmar exclusão!</h3>
					</div>

					<div class="modal-body">

						<p id="registroModalExcluir">Deseja realmente excluir o registro "<span></span>"?</p>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Excluir</button>
					</div>

				</div>
			</form>
		</div>
	</div>

</html>