body{ margin-top: 70px; }

/*barra de navegação superior com logo*/
.navbar-brand{
	padding-top: 8px;
}

/*painel default*/
.panel-default{
	margin-right:10px;
	margin-left:10px;
}

.alert{
	margin-right:10px;
	margin-left:10px;
}

.link-panel{
	float: right;
	padding: 0px;
}

.titulo-panel{
	float: left;
	padding-top: 2px;
}